* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#mainContent {
	overflow: hidden;
	position: relative;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;

	background-image: url(../Materials/bg-white-phone-version.jpg);
	background-repeat: no-repeat;
	background-position: right;
	-webkit-background-size: 100%;
	background-size: 100%;
}
#rightContent {
	width: 50vw;
	height: 100vh;
}
.feather-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.feather-container img.feather-item {
	display: flex;
	align-items: center;
	mix-blend-mode: screen;
	width: 300px;
	margin: 0;
	z-index: 3;
}
.feather-container img.feather-shadow {
	position: absolute;
	width: 300px;
	z-index: 2;
	margin-right: -2px;
	margin-bottom: -5px;
}
.feather-container img.feather-particles {
	position: absolute;
}

#leftContent {
	width: 60%;
	clip-path: polygon(0 0, 0 100%, 80% 100%, 100% 0);
	
	background-color: #141414;
}
.left-Container {
	margin-left: auto;
	margin-right: auto;
	width: 78%;
	padding-top: 7em;
}
.left-Container h2.caption {
	position: relative;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: center;
	margin: 0;
	margin-left: -6%;
	font-family: 'Open Sans';
	font-weight: 300;
	font-size: 94px; 

	font-variant: small-caps;
	color: #fff;
}
.left-Container h2.caption .other {
	display: flex;
	flex-wrap: nowrap;
}
.left-Container h2.caption .other span {
	margin-right: 13px;
}
h2.caption {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.left-Container h2.caption span.F {
	font-family: 'Open Sans'; 
	font-weight: 800;
	letter-spacing: 20px;
	opacity: .8;

	cursor: pointer;
	transition: all .2s;
}
h2.caption span.F:hover {
	opacity: 1;
}
.left-Container h2.caption span.other {
	opacity: .65;
}
.left-Container h2.caption span.other span {
	
}

.left-Container p.info {
	display: flex;
	align-items: flex-start;
	color: #fff;
	font-family: "MyriadProRegular";
	letter-spacing: 2.6px;
	font-size: 26px;
	font-weight: 400;
	opacity: .8;
}

@keyframes feather-item {
	from { transform: translateY(-4%) rotate(3deg);}
	50% { transform: translateY(4%) rotate(-3deg);}
	to { transform: translateY(-4%) rotate(3deg);}
}

.feather-item {
	animation: feather-item 15s ease-in-out infinite;
}
@keyframes feather-shadow {
	from { transform: translateY(-4%) rotate(3deg);}
	50% { transform: translateY(4%) rotate(-3deg);}
	to { transform: translateY(-4%) rotate(3deg);}
}

.feather-shadow {
	animation: feather-shadow 15s ease-in-out infinite;
}


@media screen and (max-width: 1100px) {
	body {
		overflow: auto;
	}
	#mainContent {
		display: flex;
		flex-direction: column;
		background-image: none;
	}
	#rightContent {
		width: 100vw;
		height: 70vh;

		background-image: url(../Materials/bg-white-phone-version.jpg);
		background-repeat: no-repeat;
		background-position: top;
		-webkit-background-size: 100%;
		background-size: 100%;
	}
	#leftContent {
		margin-top: -8vh;
		width: 100vw;
		height: 50vh;
		clip-path: polygon(0 15%, 0 100%, 100% 100%, 100% 0%);
	}
	h2.caption {
		margin: 0;
		margin-right: : -9%;
	}
}
@media screen and (max-width: 780px) {
	#rightContent {
		background-size: 135%;
	}
}

@media screen and (max-width: 580px) {
	#rightContent {
		background-size: 200%;
		height: 60vh;
	}
	.feather-container {
		zoom: 0.7;
	}
	.left-Container {
		-webkit-transform: scale(.7);
		-ms-transform: scale(.7);
		-o-transform: scale(.7);
		transform: scale(.7); 
	}
}
@media screen and (max-width: 400px) {
	#rightContent {
		background-size: 240%;
	}
}
@media screen and (max-width: 280px) {
	#rightContent {
		background-size: 340%;
	}
}

@media screen and (max-height: 750px) and (max-width: 1100px) {
	#leftContent {
		height: 80vh;
		margin-top: -12vh;
	}
}
@media screen and (max-height: 650px) and (max-width: 1100px) {
	#rightContent {
		height: 80vh;
	}
}
@media screen and (max-height: 520px) and (max-width: 1100px) {
	.feather-container {
		zoom: 0.6;
	}
	#rightContent {
		height: 100vh;
	}
}
@media screen and (max-height: 400px) and (max-width: 1100px) {
	.feather-container {
		zoom: 0.4;
	}
}

