* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}                           
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.previewIMG {
	position: absolute;
	opacity: 0;
}
#mainContent {
	overflow: hidden;
	position: relative;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;

	background-image: url(../Materials/bg-white-phone-version.jpg);
	background-repeat: no-repeat;
	background-position: right;
	-webkit-background-size: cover;
	background-size: cover;

}
.rightContent {
	width: 50%;
	height: 100vh;

}
.feather-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.feather-container img.feather-item {
	display: flex;
	align-items: center;
	mix-blend-mode: screen;
	width: 300px;
	margin: 0;
	z-index: 3;
}
.feather-container img.feather-shadow {
	position: absolute;
	width: 300px;
	z-index: 2;
	margin-right: -2px;
	margin-bottom: -5px;
}
.feather-container img.feather-particles {
	position: absolute;
}

.leftContent {
	width: 60%;
	clip-path: polygon(0 0, 0 100%, 80% 100%, 100% 0);
	animation: all .4s;
	background-color: #141414;
}
.left-Container {
	margin-left: auto;
	margin-right: auto;
	width: 78%;
	padding-top: 7em;
}
.left-Container h2.caption {
	position: relative;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: center;
	margin: 0;
	margin-left: -6%;
	font-family: 'Open Sans';
	font-weight: 300;
	font-size: 94px; 
	z-index: 4;

	font-variant: small-caps;
	color: #fff;
}
.left-Container h2.caption .other {
	display: flex;
	flex-wrap: nowrap;
}
.left-Container h2.caption .other span {
	margin-right: 13px;
}
.left-Container h2.caption span.F {
	position: relative;
	font-family: 'Open Sans'; 
	font-weight: 800;
	letter-spacing: 20px;
	opacity: .8;

	cursor: pointer;
	transition: all .2s;
	outline: none;
}
h2.caption span.F:hover {
	opacity: 1;
	text-shadow: 0 0 30px rgba(255, 255, 255, 0.6);
}
h2.caption span.F:active {
	animation: .1s;
	text-shadow: 0 0 30px rgba(255, 255, 255, 0.2);
}
.left-Container h2.caption span.other {
	opacity: .65;
}

@keyframes infoText_animation {
	from { transform: translateY(30%); opacity: 0;}
	30% { transform: translateY(0); opacity: 1;}
	60% { transform: translateY(0); opacity: 1;}
	to { transform: translateY(-30%); opacity: 0;}
}
.infoText_animation {
		animation: infoText_animation .7s ease-in-out;
}
.infoText {
	font-variant: normal;
	text-transform: none;
	opacity: 0;
	position: absolute;
	font-weight: 300;
	font-size: 14px;
	letter-spacing: 1px;
	left: -20%;
	top: -12%;
	text-align: center;
	line-height: 20px;

}
.left-Container p.text {
	display: flex;
	align-items: flex-start;
	color: #fff;
	font-family: 'Open Sans'; 
	letter-spacing: 2.6px;
	font-size: 22px;
	font-weight: 400;
	opacity: .5;
}

.feather-item,
.feather-shadow {
	animation: feather-animation 15s ease-in-out infinite;
}
@keyframes feather-animation {
	from { transform: translateY(-4%) rotate(3deg);}
	50% { transform: translateY(4%) rotate(-3deg);}
	to { transform: translateY(-4%) rotate(3deg);}
}

.switcherImg {
	position: absolute;
	display: flex;
	height: 100vh;
	width: calc(3.7em + 28px);
	justify-content: center;
	align-items: center;
}
.switcherImg span {
	position: absolute;
	width: 200%;
	height: 100%;
	opacity: 0;
	transition: .2s;
	background: linear-gradient(to right, white, transparent);
}
.arrowSwitcher {
	padding: 50px 10px;
	max-width: 70%;
	opacity: .7;
	cursor: pointer;
	z-index: 5;
}
.arrowSwitcher:hover + span {
	opacity: .04;
	
}
.arrowSwitcher:hover {
	opacity: 1;
	/*text-shadow: 0 0 30px rgba(255, 255, 255, 0.6);*/
}







.arrowSwitcher_active {
	animation: arrowSwitcherTransition .4s;
	transform: scaleX(-1);
	
}
@keyframes arrowSwitcherTransition {
	from {transform: scaleX(1);}
	to {transform: scaleX(-1);}
}
.arrowSwitcher_activeOut {
	animation: arrowSwitcherTransitionOut .4s;
	transform: scaleX(1);
	
}
@keyframes arrowSwitcherTransitionOut {
	from {transform: scaleX(-1);}
	to {transform: scaleX(1);}
}


.leftContent_active {
	width: 100%;
	clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
	animation: leftContentTransition .6s;
}
.leftContent_activeOut {
	animation: leftContentTransitionOut .6s;
}
@keyframes  leftContentTransitionOut {
	from { width: 100%; clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);}
	to { width: 60%; clip-path: polygon(0 0, 0 100%, 80% 100%, 100% 0);}
}
@keyframes  leftContentTransition {
	from { width: 60%; clip-path: polygon(0 0, 0 100%, 80% 100%, 100% 0);}
	to { width: 100%; clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);}
}
.rightContent_active {
	animation: rightContentTransition .6s;
	width: 0%;
}
.rightContent_activeOut {
	width: 50%;
	animation: rightContentTransitionOut .6s;
}
@keyframes  rightContentTransition {
	from {width: 50%;}
	to {width: 0%;}
}
@keyframes  rightContentTransitionOut {
	from {width: 0%;}
	to {width: 50%;}
}

.feather-item,
.feather-shadow,
.feather-particles,
.text {
	opacity: 1;
}
.feather-item_active,
.feather-shadow_active,
.feather-particles_active {
	animation: featherTransition 1.2s;
	transform: translateX(70%);
	opacity: 0;
}
@keyframes  featherTransition {
	from { transform: translateX(0); opacity: 1;}
	to { transform: translateX(70%); opacity: 0;}
}
.feather-item_activeOut,
.feather-shadow_activeOut,
.feather-particles_activeOut {
	animation: featherTransitionOut .6s;
	transform: translateX(0);
	opacity: 1;
}
@keyframes  featherTransitionOut {
	from {transform: translateX(70%); opacity: 0;}
	to {transform: translateX(0); opacity: 1;}
}

.text_active {
	transform: translateX(10%);
	opacity: 0 !important;
	animation: textTransition .6s;
}
@keyframes  textTransition {
	from { transform: translateX(0); opacity: .5;}
	to { transform: translateX(10%); opacity: 0;}
}
.text_activeOut {
	transform: translateX(0);
	opacity: .5 !important;
	animation: textTransitionOut .6s;
}
@keyframes textTransitionOut {
	from { transform: translateX(10%); opacity: 0;}
	to { transform: translateX(0); opacity: .5;}
}

.caption_active {
	margin: 0 !important;
	margin-top: -2% !important;
	transform: scale(.7);
	animation: captionTransition .6s;
}
.caption_active .F {
	cursor: default !important;
	opacity: .8 !important;
}
.caption_active .F:hover {
	text-shadow: 0 0 30px rgba(255, 255, 255, 0) !important;
	transition: 0 !important;
}
@keyframes captionTransition {
	from { margin-top: 0; margin-left: -6%; transform: scale(1);}
	to { margin-top: -2%; margin-left: 0%; transform: scale(.7);}
}
.caption_active .infoText {
	display: none;
}
.caption_activeOut {
	margin-top: 0 !important;
	transform: scale(1);
	animation: captionTransitionOut .6s;
}
@keyframes captionTransitionOut {
	from { margin-top: -2%; margin-left: 0%; transform: scale(.7);}
	to { margin-top: 0; margin-left: -6%; transform: scale(1);}
}

.left-Container_active {
	padding-top: 1em;
	animation: left-ContainerTransition .6s;
}
@keyframes left-ContainerTransition {
	from {padding-top: 7em;}
	to {padding-top: 1em;}
}
.left-Container_activeOut {
	padding-top: 7em;
	animation: left-ContainerTransitionOut .6s;
}
@keyframes left-ContainerTransitionOut {
	from {padding-top: 1em;}
	to {padding-top: 7em;}
}


.pointer,
.portfolioSection_active .switches li  {
	cursor: pointer;
}
.portfolioSection {
	margin-top: -5%;
	opacity: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: .3s;
}
.portfolioSection_active {
	opacity: 1;
	width: 100%;
}
.switches {
	display: flex;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0;
}
.switches li {
	position: relative;
	color: #fff;
	opacity: .4;
	font-family: "Open Sans";
	font-size: 24px;
	font-weight: 300;
	letter-spacing: 3.5px;

	margin-right: 70px;
	transition: .3s;
}
.switches li:hover {
	opacity: .7;
}
.switches li:active {
	opacity: 1;
}
.switches li:last-child {
	margin-right: 0;
}

.underline:before {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    background: #fff;
    opacity: 0.5;
    transition: all 0.2s;
}
.underline:hover:before {
    width: 110%;
    left: -7%;
}
.underline:active:before {
    width: 140%;
    left: -22.5%;
}
.liActive:before {
    width: 110%;
    left: -7%;
}

.sitesSection {
	transform: translateX(-7%);
	transition: .3s;
	opacity: 0;
	margin-top: 70px;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 2;
}
.sitesSection_active {
	transform: translateX(0);
	opacity: 1;
	z-index: 5;
}
.siteItem {
	transition: .3s;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 65%;
	box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.4), inset 0 0 43px rgba(255, 255, 255, 0.04);

	  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.siteItem img {
	width: 100%;	

}
.siteItem:after {
	transition: .3s;
	position: absolute;
	transform-origin: bottom;
	transform: scaleY(.6);
	content: '';
	width: 100%;
	height: 100%;
	opacity: 0;
	background: linear-gradient(to top, #000, transparent);
}
.siteItem span {
	transition: .3s;
	transform: translateY(20px);
	z-index: 3;
	position: absolute;
	bottom: 7%;
	left: 5%;
	opacity: 0;
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 1.5em;
	font-weight: 300;
	letter-spacing: 0.8px;
}
.siteItem span i {
	font-style: normal;
	font-size: .65em;
	letter-spacing: 1.7px;
}
.siteItem:hover {
	transform: scale(1.07);
}
.siteItem:active {
	transform: scale(1.03);
}
.siteItem:hover:after {
	opacity: .7;
	transform: scaleY(1);
}
.siteItem:hover span {
	transform: translateY(0);
	opacity: .6;
}

.artsSection {
	overflow: hidden;
	transform: translateX(7%);
	transition: .3s;
	opacity: 0;
	margin-top: -32%;
	display: flex;
	flex-direction: column;
	z-index: 2;
	width: 100%;
	max-width: 1100px;
}
.artsSection_active {
	transform: translateX(0);
	opacity: 1;
	z-index: 5;
}
.artItem {
	padding: 0 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 50px;
}
.artItem:nth-child(2n) {
	flex-direction: row-reverse;
}
.artItem:nth-child(2n) .image {
	justify-content: right;
}
.artItem .image {
	position: relative;
	display: flex;
	justify-content: center;
	width: 55%;
    height: 300px;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    box-shadow: 0 0 50px 1px rgba(0, 0, 0, 0.4);
}
.artItem .image img {
	position: absolute;
	height: 110%;
}
.artItem .textArt { 
	display: flex;
	flex-direction: column;
	margin-left: 35px;
}
.artItem:nth-child(2n) .textArt {
	margin-left: 0;
	margin-right: 35px;
}
.artItem .textArt .captionArt {
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 26px;
	font-weight: 400;
	letter-spacing: 1.61px;
	margin: 0;
	padding: 0;
	margin-top: 15px;
	margin-bottom: 25px;
	display: flex; 
	justify-content: center;
	opacity: .9;
	position: relative;
}
.captionArt:after {
	content: '';
	height: 2px;
	width: 100%;
	color: #fff;
	position: absolute;
	bottom: 0;
	z-index: 2;
}
.artItem .textArt .hashtagsArt {
	display: inline-block;
}
.artItem .textArt .hashtagsArt i {
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 20px;
	font-weight: 200;
	line-height: 30px;
	letter-spacing: 1.61px;
	font-style: normal;
	margin-right: 5px;
	opacity: .6;
}
.artItem:nth-child(2n) .hashtagsArt {
	align-items: left;
}








@media screen and (min-width: 1100px) and (max-width: 1550px) {
	.portfolioSection {
		margin-top: -7%;
	}
	.artsSection,
	.siteItem {
		width: 90%;
	}
}
@media screen and (min-width: 1100px) and (max-width: 1300px) {
	.portfolioSection {
		margin-top: -9%;
	}
	.artItem .image img {
	height: 100%;
}
}


@media screen and (max-width: 1100px) {
	body {
		overflow: auto;
	}
	#mainContent {
		display: flex;
		flex-direction: column;
		background-image: none;
	}
	#rightContent {
		width: 100vw;
		height: 70vh;

		background-image: url(../Materials/bg-white-phone-version.jpg);
		background-repeat: no-repeat;
		background-position: top;
		-webkit-background-size: cover;
		background-size: cover;
	}
	#leftContent {
		margin-top: -8vh;
		width: 100vw;
		height: 50vh;
		clip-path: polygon(0 15%, 0 100%, 100% 100%, 100% 0%);
	}
	h2.caption {
		margin: 0;

	}
	h2.caption span.F:hover {
	opacity: .8;
	}
	h2.caption span.F:active {
	opacity: 1;
	}
}

@media screen and (max-height: 850px) and (max-width: 1100px) {
	#leftContent {
		margin-top: -12vh;
	}
	.feather-container {
		zoom: 0.8;
	}
}
@media screen and (max-height: 650px) and (max-width: 1100px) {
	#rightContent {
		height: 80vh;
	}
}
@media screen and (max-height: 520px) and (max-width: 1100px) {
	.feather-container {
		zoom: 0.8;
	}
	#rightContent {
		height: 100vh;
	}
}
@media screen and (max-height: 400px) and (max-width: 1100px) {
	.feather-container {
		zoom: 0.7;
	}
}


@media screen and (max-width: 650px) {
	.left-Container {
		zoom: .9;
	}
	.feather-container {
		zoom: 0.8;
	}
}

@media screen and (max-width: 500px) {
	.left-Container {
		zoom: .7;
	}
}
@media screen and (max-width: 500px) {
	.left-Container {
		zoom: .6;
	}
	.feather-container {
		zoom: 0.7;
	}
}






